<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="container" id="app">
      <h1>{{ title }}</h1>
      <nav class="nav nav-pills mb-2">
        <a
          href="#"
          class="nav-link"
          v-for="(filter,index) of filters"
          :key="index"
          :class="{active:filter==activeFilter}"
          @click="activeFilter=filter"
        >
          {{ filter }}
        </a>
      </nav>

      <ul class="list-group mb-2">
        <transition-group name="list">
          <li
            class="list-group-item"
            v-for="(todo,index) of filteredTodos"
            :key="index"
          >
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                :id="'check'+todo.id"
                v-model="todo.done"
              />
              <label
                class="form-check-label"
                :class="{done:todo.done}"
                :for="'check'+todo.id"
                >{{ todo.title }}</label
              >
              <br />
              <small>{{todo.created | friendly-date}}</small>
            </div>
          </li>
        </transition-group>
      </ul>
      <add-item @submitted="add($event)"></add-item>
      <remaining-items :remaining="todos.filter(t=>!t.done).length">
        <template v-slot:danger
          >Run run run</template
        >
        Go to the beach
      </remaining-items>
    </div>
    <script src="main.js"></script>
  </body>
</html>
